[submodule "modula-core-builder"]
	path = modula-core-builder
	url = https://github.com/ERP-Modula/modula-core-builder.git
	branch = dev
[submodule "modules/modula-platform"]
	path = modules/modula-platform
	url = https://github.com/ERP-Modula/modula-platform.git
	branch = main
[submodule "modules/google"]
	path = modules/google
	url = https://github.com/ERP-Modula/google.git
