[submodule "modules/modula-platform"]
	path = modules/modula-platform
	url = https://github.com/ERP-Modula/modula-platform.git
	branch = main
[submodule "modules/google"]
	path = modules/google
	url = https://github.com/ERP-Modula/google.git
